name: Build Reports

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'flake.*'
      - '.github/workflows/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'flake.*'
      - '.github/workflows/**'
  workflow_run:
    workflows: ["Update Dependencies"]
    types:
      - completed

env:
  # Aritifact name prefix e.g. all-reports-amd64, etc.
  ARTIFACT_PREFIX: all-reports
  OUTPUT_DIR: build/reports
  REPORT_DIR: .github/reports

jobs:
  build-reports:
    name: Build reports
    strategy:
      matrix:
        os:
          - name: ubuntu-24.04-arm
            arch: arm64
          - name: ubuntu-latest
            arch: amd64

    runs-on: ${{ matrix.os.name }}

    # Skip this job if the commit was made by the GitHub Actions bot (prevents infinite CI loops)
    if: github.actor != 'github-actions[bot]'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: ${{ github.repository_owner }}-hello-world-sizes
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run Nix flake to generate reports | ${{ matrix.os.arch }}
        run: nix run

      - name: Upload all reports as a single artifact
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_PREFIX }}-${{ matrix.os.arch }}
          path: |
            ${{ env.OUTPUT_DIR }}/*.png
            ${{ env.OUTPUT_DIR }}/*.json
          retention-days: 30
