name: Update Reports

on:
  workflow_run:
    workflows: [Build Reports]
    types:
      - completed
  workflow_dispatch:

env:
  # Aritifact name prefix e.g. all-reports-amd64, etc.
  ARTIFACT_PREFIX: all-reports
  OUTPUT_DIR: build/reports
  REPORT_DIR: .github/reports

jobs:
  update-reports:
    name: Commit and push reports
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all artifacts from previous workflow
        uses: dawidd6/action-download-artifact@v9
        with:
          workflow: build-reports.yml
          workflow_conclusion: success
          branch: main

      - name: Process reports
        run: ./.github/process-reports.sh

      - name: Commit and push reports
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add ${{ env.REPORT_DIR }}/ docs/
          git commit -m "ci: update reports and data [auto]" || echo "No changes to commit"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
